body{
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
}
a:hover {
    color: red;
}
#quiz{
    width: 70%;
    height: 100%;
    margin: auto;
    margin-bottom: 200px;
    background: linear-gradient(35deg, #8e0e00, #1F1C18);;
}
#timer {
    color: red;
    font-size: 20px;
}
.question{
    font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 200px;
}
#submit:hover{
    background-color: green;
}